@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    padding: 0;
    display: inherit;
}

.slider {
    @apply w-full h-7 bg-blue-600 hover:opacity-100 outline-none opacity-70;
    -webkit-transistion: .2s;
    transition: opacity .3s;   
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
}

/* .datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 0;
  padding: 0;
  cursor: pointer; */
/* } */

