.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #000000; /* Grey background */
  border-radius: 3px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;   
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #000000;
    cursor: pointer;
    border-radius: 50px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(0, 0, 0);
    cursor: pointer;
}